In [5]:
from urllib.request import urlopen
from bs4 import BeautifulSoup

url='https://newyork.craigslist.org/search/cta?s=0'

html = urlopen(url)
bs = BeautifulSoup(html.read(),'html.parser')
cars=bs.find_all('li',{ 'class':'result-row'})

scrapedCarsList=[]
for car in cars:
    salesTitle=car.find('a',{'class':'result-title hdrlnk'})
    price=car.find('span',{'class':'result-price'})
    postingDate=car.find('time',{'class':'result-date'})
    #Some listings do not have a price.
    if price!=None:
        new_car=[salesTitle.get_text(),postingDate.get_text(),price.get_text()]
        #print(new_car) #uncomment to see all the cars with a newline
        scrapedCarsList.append(new_car)

print('Car listings scraped:',len(scrapedCarsList))

for car in scrapedCarsList:
    print(car) #uncomment to see the list of cars on the first page

Car listings scraped: 120
['2006 GMC work van low miles $3950', 'Jan 29', '$3950']
['2008 Honda Accord Lx', 'Jan 29', '$3800']
['Check Out This Spotless 2018 Mitsubishi Outlander with only 36,428 Mil', 'Jan 29', '$14990']
['2009 Toyota Prius', 'Jan 29', '$5400']
['2004 Toyota Rav 4L', 'Jan 29', '$4500']
['Toyota Camry', 'Jan 29', '$8700']
['2012 BMW 7-SERIES 750i *LOADED* WE FINANCE!!', 'Jan 29', '$11300']
['2003 BMW 325i', 'Jan 29', '$2500']
['2014 Nissan Sentra SP  AUTO. 115K MILES ORG', 'Jan 29', '$3500']
['2009 FORD EDGE SUN ROOF 120K MILES', 'Jan 29', '$2400']
['2009 Chevy equinox LEATHER TV DVD 109K MILES ORG', 'Jan 29', '$3000']
['2011 Nissan Marano S SUN ROOF', 'Jan 29', '$1500']
['2016 Mercedes-Benz C-Class 4dr Sdn C 450 AMG 4MATIC 359 / MO', 'Jan 29', '$359']
['Take a look at this 2018 Nissan Armada-queens', 'Jan 29', '$28995']
['2013 Nissan Sentra SR 65K 4CYL Auto One Owner', 'Jan 29', '$6999']
['2007 Nissan Altima for sale in excellent condition', 'Jan 29', '$3500']
['2009 FORD E350 12 PASSENGER VAN', 'Jan 29', '$6100']
['2005 HYUNDAI SANTA FE ONLY 179K', 'Jan 29', '$2995']
['2011 TOYOTA TACOMA 4WD V6 DOUBLE CAB $13,900', 'Jan 29', '$13900']
['2015 Chevrolet Malibu LT (turbo) - neg', 'Jan 29', '$14000']
['2010 Toyota Highlander Limited AWD 7 Passenger', 'Jan 29', '$9900']
['2017 *Ram* *ProMaster City Wagon* *Wagon* Bright Whi', 'Jan 29', '$18995']
['An Impressive 2016 Mazda Mazda3 with only 36,958 Miles-queens', 'Jan 29', '$10990']
['audi tt', 'Jan 29', '$8500']
['2013 JEEP GRAND CHEROKEE LAREDO *80K MILES* WE FINANCE!!', 'Jan 29', '$12000']
['2007 Honda Fit Sport 4dr Hatchback 5A SE HABLA ESPANOL', 'Jan 29', '$0']
['2008 Mercedes Benz S550 Fully Loaded', 'Jan 29', '$6200']
['2007 Lexus GS 350 AWD Fully Loaded', 'Jan 29', '$5500']
['2002 FordCrownVictoria 122K 2300$', 'Jan 29', '$2300']
['2005 Acura MDX 4X4, Leather 3row Seat, Runs Excellent', 'Jan 29', '$2900']
['Ford F 450 7.3 Flatbed Tow-truck', 'Jan 29', '$15000']
['2010 NISSAN ALTIMA 4 DOOR SEDAN', 'Jan 29', '$3250']
['Classic for sale', 'Jan 29', '$1800']
['2008 Nissan Altima 2.5 S 4 Dr Sedan', 'Jan 29', '$1000']
['2011 Porsche 911 2dr Coupe Carrera GTS', 'Jan 29', '$71995']
['2013 Porsche 911 GT3 Factory Cup Car', 'Jan 29', '$129000']
['2006 dodge charger rt body', 'Jan 29', '$1000']
['1994 Porsche 968 5 SPEED WINDOWS OUT PAINT', 'Jan 29', '$21968']
['VOLVO S40 with ONLY 65k miles FULLY LOADED Warranty and Inspected', 'Jan 29', '$4995']
['MITSUBISHI OUTLANDER 4wd LOW Miles 3rd Seat, LEATHER, Navi, WARRANTY', 'Jan 29', '$5995']
['2017 Ford Focus', 'Jan 29', '$8000']
['2012 BMW  535I X DRIVE', 'Jan 29', '$8500']
['2006 NISSAN ALTIMA', 'Jan 29', '$2300']
['2005 Corvette', 'Jan 29', '$20000']
['2005 Ford Mustang GT Premium Turbo', 'Jan 29', '$18700']
['2015 chevrolet suburban', 'Jan 29', '$13000']
['2018 SUBARU WRX *PERFECT CONDITION* MANUAL* WE FINANCE!!', 'Jan 29', '$18999']
['2007 HONDA ACCORD Sedan - WELL Maintained * WARRANTY Included', 'Jan 29', '$4495']
['Ram ProMaster City - Wheelchair Van', 'Jan 29', '$0']
['2006 S40 Volvo', 'Jan 29', '$800']
['HONDA FIT SPORT with LOW 43,102 miles * WARRANTY and INSPECTED *', 'Jan 29', '$8495']
['2018 Tesla Model X - P100D', 'Jan 29', '$79200']
['2004 FORD FOCUS 4dr LOW miles WARRANTY Inspected SEE Pictures', 'Jan 29', '$3995']
['2009 Honda Accord', 'Jan 29', '$4900']
['2016 DODGE JOURNEY Suv SXT - 3rd row seat  WARRANTY and INSPECTED', 'Jan 29', '$9995']
['2017 Lexus RC 350', 'Jan 29', '$349']
['2008 Honda Accord LX 116K 5300$', 'Jan 29', '$5300']
['2017 Nissan Altima 2017.5 2.5 Sedan *Ltd Avail*', 'Jan 29', '$12992']
['2015 BMW 3 Series 4dr Sdn 328i xDrive AWD SULEV', 'Jan 29', '$13599']
['2004 AUDI S4 QUATTRO 6SPEED STICK 4DOOR SEDAN 4.2L V8', 'Jan 29', '$2900']
['2010 GMC Canyon pick up truck', 'Jan 29', '$3400']
['2009 Honda CR-V', 'Jan 29', '$7000']
['2002 Mustang', 'Jan 29', '$1950']
['2006 Toyota Scion tC 99K 3300$', 'Jan 29', '$3300']
['2007 Lexus LS460', 'Jan 29', '$9000']
['2006 TOYOTA Highlander V6 4D Crossover SUV', 'Jan 29', '$7888']
['2009 SUBARU Outback 2.5i 4D Wagon', 'Jan 29', '$7888']
['2017 Nissan Maxima  3.5 SL - sedan', 'Jan 29', '$15544']
['2012 VOLKSWAGEN Passat 2.5 S 2.5 S 2.5SE 4D Sedan', 'Jan 29', '$7500']
['2013 TOYOTA Camry L 4D Sedan', 'Jan 29', '$7500']
['2007 KIA Sportage LX 4D Crossover SUV', 'Jan 29', '$7500']
['2012 Honda Accord LX 4D Sedan', 'Jan 29', '$7500']
['2009 NISSAN Maxima 3.5 SV 4D Sedan', 'Jan 29', '$7495']
['2013 NISSAN Rogue S 4D Crossover SUV', 'Jan 29', '$6995']
['2011 Ford Escape XLT 4D Crossover SUV', 'Jan 29', '$6995']
['2013 NISSAN Sentra SR 4D Sedan', 'Jan 29', '$6995']
['2014 CHRYSLER 200 Touring 4D Sedan', 'Jan 29', '$6995']
['2012 Chevy Traverse LT 4D Crossover SUV', 'Jan 29', '$6795']
['2006 FORD Escape XLT 4D Crossover SUV', 'Jan 29', '$6500']
['2009 NISSAN Rogue S 4D Crossover SUV', 'Jan 29', '$5995']
['2013 TOYOTA Camry L 4D Sedan', 'Jan 29', '$5995']
['2008 Chrysler Town and Country LX 4D Passenger Van', 'Jan 29', '$5995']
['2008 NISSAN Pathfinder S 4D Crossover SUV', 'Jan 29', '$5900']
['2011 Dodge Avenger Mainstreet 4D Sedan', 'Jan 29', '$5800']
['2001 MERCEDES-BENZ CLK-Class 2dr Cabriolet 4.3L CONVERTIBLE', 'Jan 29', '$0']
['2014 NISSAN Sentra SV 4D Sedan', 'Jan 29', '$5495']
['2008 NISSAN Rogue S 4D Crossover SUV', 'Jan 29', '$4995']
['2012 KIA Optima 4dr Sdn 2.4L Auto LX 4dr Car', 'Jan 29', '$0']
['2008 TOYOTA RAV 4 RAV4  4D Crossover SUV', 'Jan 29', '$4995']
['2008 TOYOTA Corolla LE 4D Sedan', 'Jan 29', '$4888']
['2007 TOYOTA Camry XLE 4dr Car', 'Jan 29', '$0']
['2008 Chevy Aveo LS 4D Sedan', 'Jan 29', '$4888']
['2007 TOYOTA Camry LE 4dr Car', 'Jan 29', '$0']
['2009 TOYOTA Camry  4D Sedan', 'Jan 29', '$4500']
['2011 KIA Sedona 4dr LWB LX Minivan Caravan, Passenger', 'Jan 29', '$0']
['1997 HONDA CR-V / CRV Truck  4D Crossover SUV', 'Jan 29', '$3500']
['2007 MITSUBISHI Eclipse SE 2dr Car', 'Jan 29', '$0']
['2006 TOYOTA Camry LE 4dr Car', 'Jan 29', '$0']
['2007 HYUNDAI Sonata LIMITED 4dr Car', 'Jan 29', '$0']
['2007 NISSAN Maxima SE 4dr Car', 'Jan 29', '$0']
['2008 VOLVO S60 2.5T 4dr Car', 'Jan 29', '$0']
['2006 VOLKSWAGEN New GTI 2dr HB 2.0T DSG 2dr Car', 'Jan 29', '$0']
['2005 Chevy Impala 4dr Sdn LS 4dr Car', 'Jan 29', '$0']
['2017 Land Rover Range Rover  Supercharged - SUV', 'Jan 29', '$53320']
['2019 BMW 7 Series ALPINA B7 xDrive Sedan 1069 / MO', 'Jan 29', '$1069']
['2007 HONDA RIDGELINE RT *CREW CAB* WE FINANCE!!!!', 'Jan 29', '$8999']
['2017 BMW 7 Series  750i xDrive - sedan', 'Jan 29', '$38445']
['2007 Mercury Mountaineer', 'Jan 29', '$2975']
['2009 HONDA ACCORD 120K miles,  4 cylinder, automatic,', 'Jan 29', '$5500']
['1986 SAAB 900S', 'Jan 29', '$1']
['2009 Honda Pilot LX', 'Jan 29', '$7000']
['2006 Nissan Murano', 'Jan 29', '$1900']
['2013 Ford Escape SE 4WD ECOBOST, NEAR MINT! WOW!! SNOWS COMING!!', 'Jan 29', '$4999']
['2017 Honda Civic 35K 1 OWNER CLEAN CARFAX 2 CAMS SUNROOF', 'Jan 29', '$16995']
['2019 BMW 7 Series ALPINA B7 xDrive Sedan 1069 / MO', 'Jan 29', '$1069']
['2016 Hyundai Sonata 4dr Sdn 2.4L Limited PZEV', 'Jan 29', '$12995']
['Temporary and dealer', 'Jan 29', '$80']
['1984 CHEVY STEP VAN', 'Jan 29', '$5500']
['2004 Lexus RX 330', 'Jan 29', '$6300']
['2016 Mercedes-Benz C  300 4MATI - sedan', 'Jan 29', '$15965']

In [7]:
import csv

with open('craigslist_cars.csv', 'a',newline='',encoding='utf-8') as myFile:
    writer = csv.writer(myFile)
    writer.writerows(scrapedCarsList)