# Regex Pattern Operators

#### **<font color=blue> Exercise 1. Extract each character of the string given below.**

In [42]:
text1="The news sent crude soaring as high as $61.28 a barrel. Most of the selloff occurred before President Donald Trump voiced opposition to Saudi Arabia's efforts to balance the market"
print(text1)

The news sent crude soaring as high as $61.28 a barrel. Most of the selloff occurred before President Donald Trump voiced opposition to Saudi Arabia's efforts to balance the market

In [48]:
'''
greedy/lazy
'''
text="The news sent crude soaring as high as low as possible as $61.28 a barrel. Most of the selloff occurred before President Donald Trump voiced opposition to Saudi Arabia's efforts to balance the market"
re.findall(r'as[\s\S]*as',text)

['as high as low as possible as']

In [43]:
import re
result1=re.findall(r'.',text1)
print(result1)

['T', 'h', 'e', ' ', 'n', 'e', 'w', 's', ' ', 's', 'e', 'n', 't', ' ', 'c', 'r', 'u', 'd', 'e', ' ', 's', 'o', 'a', 'r', 'i', 'n', 'g', ' ', 'a', 's', ' ', 'h', 'i', 'g', 'h', ' ', 'a', 's', ' ', '$', '6', '1', '.', '2', '8', ' ', 'a', ' ', 'b', 'a', 'r', 'r', 'e', 'l', '.', ' ', 'M', 'o', 's', 't', ' ', 'o', 'f', ' ', 't', 'h', 'e', ' ', 's', 'e', 'l', 'l', 'o', 'f', 'f', ' ', 'o', 'c', 'c', 'u', 'r', 'r', 'e', 'd', ' ', 'b', 'e', 'f', 'o', 'r', 'e', ' ', 'P', 'r', 'e', 's', 'i', 'd', 'e', 'n', 't', ' ', 'D', 'o', 'n', 'a', 'l', 'd', ' ', 'T', 'r', 'u', 'm', 'p', ' ', 'v', 'o', 'i', 'c', 'e', 'd', ' ', 'o', 'p', 'p', 'o', 's', 'i', 't', 'i', 'o', 'n', ' ', 't', 'o', ' ', 'S', 'a', 'u', 'd', 'i', ' ', 'A', 'r', 'a', 'b', 'i', 'a', "'", 's', ' ', 'e', 'f', 'f', 'o', 'r', 't', 's', ' ', 't', 'o', ' ', 'b', 'a', 'l', 'a', 'n', 'c', 'e', ' ', 't', 'h', 'e', ' ', 'm', 'a', 'r', 'k', 'e', 't']

As you can see, space and other symbols are also extracted. To get only the letters, we can use `"\w"
` instead of `"."`.

In [5]:
result1=re.findall(r'\w',text1)
print(result1）

['T', 'h', 'e', 'n', 'e', 'w', 's', 's', 'e', 'n', 't', 'c', 'r', 'u', 'd', 'e', 's', 'o', 'a', 'r', 'i', 'n', 'g', 'a', 's', 'h', 'i', 'g', 'h', 'a', 's', '6', '1', '2', '8', 'a', 'b', 'a', 'r', 'r', 'e', 'l', 'M', 'o', 's', 't', 'o', 'f', 't', 'h', 'e', 's', 'e', 'l', 'l', 'o', 'f', 'f', 'o', 'c', 'c', 'u', 'r', 'r', 'e', 'd', 'b', 'e', 'f', 'o', 'r', 'e', 'P', 'r', 'e', 's', 'i', 'd', 'e', 'n', 't', 'D', 'o', 'n', 'a', 'l', 'd', 'T', 'r', 'u', 'm', 'p', 'v', 'o', 'i', 'c', 'e', 'd', 'o', 'p', 'p', 'o', 's', 'i', 't', 'i', 'o', 'n', 't', 'o', 'S', 'a', 'u', 'd', 'i', 'A', 'r', 'a', 'b', 'i', 'a', 's', 'e', 'f', 'f', 'o', 'r', 't', 's', 't', 'o', 'b', 'a', 'l', 'a', 'n', 'c', 'e', 't', 'h', 'e', 'm', 'a', 'r', 'k', 'e', 't']

#### **<font color=blue> Exercise 2. Extract each word in the above string.**

In [9]:
result1=re.findall(r'\w*',text1)
print(result1)

['The', '', 'news', '', 'sent', '', 'crude', '', 'soaring', '', 'as', '', 'high', '', 'as', '', '', '61', '', '28', '', 'a', '', 'barrel', '', '', 'Most', '', 'of', '', 'the', '', 'selloff', '', 'occurred', '', 'before', '', 'President', '', 'Donald', '', 'Trump', '', 'voiced', '', 'opposition', '', 'to', '', 'Saudi', '', 'Arabia', '', 's', '', 'efforts', '', 'to', '', 'balance', '', 'the', '', 'market', '']

Again, it is matching the space and all the symbols because `"*"` returns zero or more alphanumerics to its left. Now to remove spaces we will go with `"+"`.

In [10]:
result1=re.findall(r'\w+',text1)
print(result1)

['The', 'news', 'sent', 'crude', 'soaring', 'as', 'high', 'as', '61', '28', 'a', 'barrel', 'Most', 'of', 'the', 'selloff', 'occurred', 'before', 'President', 'Donald', 'Trump', 'voiced', 'opposition', 'to', 'Saudi', 'Arabia', 's', 'efforts', 'to', 'balance', 'the', 'market']

#### **<font color=blue> Exercise 3. Extract the first and the last word of the string.**

In [14]:
print('First word of the string: ' + result1[0])
print('Last word of the string: ' +result1[-1])

First word of the string: The
Last word of the string: market

In [49]:
re.findall(r'^\S+',text1)

['The']

In [52]:
re.findall(r'^\w+',text1)

['The']

In [51]:
re.findall(r'\S+$',text1)

['market']

#### **<font color=blue> Exercise 4. Extract consecutive two characters of each word, excluding spaces.**

In [61]:
'''Wrong Answers:

for i in result1:
    c=re.findall(r'((\w)\2)',i)
    print(c)
    
'''

"Wrong Answers:\n\nfor i in result1:\n    c=re.findall(r'((\\w)\x02)',i)\n    print(c)\n    \n"

In [53]:
re.findall(r'\w\w',text1)

['Th',
 'ne',
 'ws',
 'se',
 'nt',
 'cr',
 'ud',
 'so',
 'ar',
 'in',
 'as',
 'hi',
 'gh',
 'as',
 '61',
 '28',
 'ba',
 'rr',
 'el',
 'Mo',
 'st',
 'of',
 'th',
 'se',
 'll',
 'of',
 'oc',
 'cu',
 'rr',
 'ed',
 'be',
 'fo',
 're',
 'Pr',
 'es',
 'id',
 'en',
 'Do',
 'na',
 'ld',
 'Tr',
 'um',
 'vo',
 'ic',
 'ed',
 'op',
 'po',
 'si',
 'ti',
 'on',
 'to',
 'Sa',
 'ud',
 'Ar',
 'ab',
 'ia',
 'ef',
 'fo',
 'rt',
 'to',
 'ba',
 'la',
 'nc',
 'th',
 'ma',
 'rk',
 'et']

#### **<font color=blue> Exercise 5. Extract consecutive two characters those available at start of word boundary (use “\b“,  which mathes the boundary between word and non-word).**

In [55]:
print(text1)
re.findall(r'\b\w\w',text1)

The news sent crude soaring as high as $61.28 a barrel. Most of the selloff occurred before President Donald Trump voiced opposition to Saudi Arabia's efforts to balance the market

['Th',
 'ne',
 'se',
 'cr',
 'so',
 'as',
 'hi',
 'as',
 '61',
 '28',
 'ba',
 'Mo',
 'of',
 'th',
 'se',
 'oc',
 'be',
 'Pr',
 'Do',
 'Tr',
 'vo',
 'op',
 'to',
 'Sa',
 'Ar',
 'ef',
 'to',
 'ba',
 'th',
 'ma']

In [58]:
'''find the words starts with [aeiou]
'''
re.findall(r'\b[aeiou]+\w*\b',text1)

['as', 'as', 'a', 'of', 'occurred', 'opposition', 'efforts']

**<font color='red'>Note 1:</font>** You may have noticed `"r"`  at the start of the pattern string. This is to interpret regex symbols literally (as a python raw string). Sometimes characters in regex patterns collide with Python’s usage of the same characters. Thus, usually the raw string notation is used to avoid such scenarios.

Note that this is not specific to regex. For example, r"\n" is a two-character string containing '\\' and 'n', while "\n" is a one-character string containing a newline. You can also prefix a string with a '\\' (e.g., "\\n") for literal interpretation.

Here is an example:

In [23]:
print(r"1. Hi \n Bye")
print("2. Hi \\n Bye")
print("3. Hi \n Bye")

1. Hi \n Bye
2. Hi \n Bye
3. Hi
 Bye

In [59]:
print('hingkjlh\'s')

hingkjlh's

**<font color='red'>Note 2:</font>** If you want a special regular expression character to behave normally (or literally), you should prefix it with a '\\'. Here is an example:

#### **<font color=blue> Exercise 6. Extract all dollar values in the following string:**

In [24]:
text2="You probably don't have $31,252 lying around, which was the average transaction price for a new car during the summer of 2013, according to the car-buying website truecar.com. So if you're taking out a loan for $31,000 already, keep in mind that you're likely going to spend a couple or many thousands of dollars more in interest charges."
print(text2)

You probably don't have $31,252 lying around, which was the average transaction price for a new car during the summer of 2013, according to the car-buying website truecar.com. So if you're taking out a loan for $31,000 already, keep in mind that you're likely going to spend a couple or many thousands of dollars more in interest charges.

In [65]:
import re
result=re.findall(r'\$\w+\,\w+',text2)
print(result)

['$31,252', '$31,000']

#### **<font color=blue> Exercise 7. Extract the domain of the following email addressess.**

In [28]:
text3="some random emails for testing are abc.test@gmail.com, xyz@hofstra.edu, bigdata@analytics.com, first.test@rest.biz"
print(text3)

some random emails for testing are abc.test@gmail.com, xyz@hofstra.edu, bigdata@analytics.com, first.test@rest.biz

In [32]:
result = re.findall(r'\S+@\S+\.\w+',text3)
print(result)

['abc.test@gmail.com', 'xyz@hofstra.edu', 'bigdata@analytics.com', 'first.test@rest.biz']

#### **<font color=blue> Exercise 8. Extract only domain name using “( )”.**

In [34]:
result = re.findall(r'\S+@(\S+)\.\w+',text3)
print(result)

['gmail', 'hofstra', 'analytics', 'rest']

#### **<font color=blue> Exercise 9. Return date from the following string:**

In [37]:
text4="Amir 34-3456 12-05-2017, XYZ 56-4532 11-11-2019, ABC 67-8945 12-01-2019, kierce@mit.edu Mon 11-19-2018 3:56 PM, Mary J. DelzottoMon 11-19-2018 1:09 PM"
print(text4)

Amir 34-3456 12-05-2017, XYZ 56-4532 11-11-2019, ABC 67-8945 12-01-2019, kierce@mit.edu Mon 11-19-2018 3:56 PM, Mary J. DelzottoMon 11-19-2018 1:09 PM

In [38]:
date = re.findall(r'\S+-\S+-\S+',text4)
print(date)

['12-05-2017,', '11-11-2019,', '12-01-2019,', '11-19-2018', '11-19-2018']

#### **<font color=blue> Exercise 10. Return date from the following string (note that now some dates include / instead of -):**

In [39]:
text5="Amir 34-3456 12-05-2017, XYZ 56-4532 11-11-2019, ABC 67-8945 12-01-2019, kierce@mit.edu Mon 11/19/2018, 3:56 PM, Mary J. DelzottoMon 11/19/2018, 1:09 PM"
print(text5)

Amir 34-3456 12-05-2017, XYZ 56-4532 11-11-2019, ABC 67-8945 12-01-2019, kierce@mit.edu Mon 11/19/2018, 3:56 PM, Mary J. DelzottoMon 11/19/2018, 1:09 PM

In [73]:
date = re.findall(r'\S+[-/]\S+[-/]\w+',text5)
print(date)

['12-05-2017', '11-11-2019', '12-01-2019', '11/19/2018', '11/19/2018']

#### **<font color=blue> Exercise 11. In the previous question, extract only the year.**

In [74]:
year = re.findall(r'\S+[-/]\S+[-/](\w+)',text5)
print(year)

['2017', '2019', '2019', '2018', '2018']

#### **<font color=blue> Exercise 12. Return all words of a string those starts with vowel.**

In [66]:
text6="Narcos is an American crime drama web television series created and produced by Chris Brancato, Carlo Bernard, and Doug Miro.Set and filmed in Colombia, seasons one and two are based on the story of drug kingpin Pablo Escobar, who became a billionaire through the production and distribution of cocaine."
print(text6)

Narcos is an American crime drama web television series created and produced by Chris Brancato, Carlo Bernard, and Doug Miro.Set and filmed in Colombia, seasons one and two are based on the story of drug kingpin Pablo Escobar, who became a billionaire through the production and distribution of cocaine.

In [68]:

re.findall(r'\b[aeiouAEIOU]+\w*\b',text6)

['is',
 'an',
 'American',
 'and',
 'and',
 'and',
 'in',
 'one',
 'and',
 'are',
 'on',
 'of',
 'Escobar',
 'a',
 'and',
 'of']

#### **<font color=blue> Exercise 13. Split the following string with multiple delimiters (either semicolon, space, or comma).**

In [69]:
text7="Roberts  Bardem;Franco,Jenkins,Davis,Crudup"

In [72]:
re.split('[;,]', text7)

['Roberts  Bardem', 'Franco', 'Jenkins', 'Davis', 'Crudup']